.root-key {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 63px;
  transform-origin: center bottom;
  transform: 
    translate(
      calc(-50% + var(--translateX)), 
      calc(var(--translateY))
    )
    rotate(var(--angle));
}

.glove {
  width: 100%;
  height: 100%;
}

.label {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%) rotate(calc(-1 * var(--angle)));
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

.major::before {
  clip-path: path('M 250,250 L 250,0 A 250,250 0 0,1 466,125 Z');
}

.minor::before {
  transform: scale(0.7);
  clip-path: path('M 250,250 L 250,100 A 150,150 0 0,1 400,175 Z');
}

.minor .label {
  top: 35%;
} 

